@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
/* CSS Document */

*
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', serif;
    cursor: url('cursor.png'), pointer; /* 改變游標 */
}

::-webkit-selection /* 改變反白顏色 */
{
	color: rgba(205,101,101,1);
	background: rgba(230,230,230,1);
}

::selection /* 改變反白顏色 */
{
	color: rgba(205,101,101,1);
	background: rgba(230,230,230,1);
}

img
{
    z-index: -1;
    position: absolute;
    opacity: 0;
}

body
{
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 2em 0.25fr 0.25fr 4fr 0.5fr;

    width: 100vw; /* 寬度滿版 */
    height: 100vh; /* 高度滿版 */

    grid-column-gap: 1em;
    grid-row-gap: 1em;

    background: rgba(108,100,139,0.3);
}

/* header */
header
{
    grid-column: 2/3;
    grid-row: 3/4;

    /* 垂直置下 */
    display: grid;
    align-items: flex-end;
}

header a
{
    color: rgba(70,70,70,1);
    text-decoration: none;
}

header h1
{
    font-size: 1.5em;
}

header h1:hover
{
	animation: blur 2s;
	-webkit-animation: blur 2s;
}

#loading
{
    grid-column: 1/4;
    grid-row: 1/6;

    /* 水平置中 */
    text-align: center;

    /* 垂直置中 */
    display: grid;
    align-items: center;

    background-color: rgba(243,243,243,1);
    z-index: 1;
}

#fog
{
    grid-column: 1/4;
    grid-row: 1/6;
    background: rgba(243,243,243,0.5);
}

.button
{
    grid-column: 2/3;
    grid-row: 2/3;

    /* 水平置左 */
    text-align: left;

    /* 垂直置下 */
    display: grid;
    align-items: flex-end;

    font-size: 0.8em;
    color: rgba(70,70,70,1);
}

/* section */
section
{
	grid-column: 2/3;
	grid-row: 4/5;
}

section a
{
    display: inline-block;
	color: rgba(89,89,89,0.8);
	text-decoration: none;
}

section .poetry_01
{
	animation: fade-in 4s ease 0s 1;
	-webkit-animation: fade-in 4s ease 0s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section .poetry_02
{
	opacity: 0;
	animation: fade-in 4s ease 1s 1;
	-webkit-animation: fade-in 4s ease 1s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section .poetry_03
{
	opacity: 0;
	animation: fade-in 4s ease 2s 1;
	-webkit-animation: fade-in 4s ease 2s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section .poetry_04
{
	opacity: 0;
	animation: fade-in 4s ease 3s 1;
	-webkit-animation: fade-in 4s ease 3s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section .poetry_05
{
	opacity: 0;
	animation: fade-in 4s ease 4s 1;
	-webkit-animation: fade-in 4s ease 4s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section .poetry_06
{
	opacity: 0;
	animation: fade-in 4s ease 5s 1;
	-webkit-animation: fade-in 4s ease 5s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section .poetry_07
{
	opacity: 0;
	animation: fade-in 4s ease 6s 1;
	-webkit-animation: fade-in 4s ease 6s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section h2
{
	color: rgba(89,89,89,0.8);
	transition: opacity 0.2s;

    font-size: 1.2em;
    line-height: 2.5em;
}

section:hover h2:not(:hover)
{
	opacity: 0.5;
}

article
{
	position: relative;
}

article h2
{
    z-index: 1;
    position: relative;
}

article::after 
{
    content: "";
    position: absolute;
    bottom: 0.5em;
    right: -0.1px;
    height: 30%;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.53,0.21,0,1);
    transform-origin: left;
    background-color: rgba(40,176,181,0.1);
}

article:hover::after
{
	transform: scaleX(1);
}

/* poetry */
section .poetry
{
	display: inline-block;
}

section .title
{
	color: rgba(70,70,70,1);
	position: relative;
}

.title h2
{
	z-index: 1;
    position: relative;
	animation: fade-in 4s ease 0s 1;
	-webkit-animation: fade-in 4s ease 0s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.title::after 
{
    content: "";
    position: absolute;
    bottom: 0.5em;
    right: -0.1px;
    height: 30%;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.53,0.21,0,1);
    transform-origin: left;
    background-color: rgba(40,176,181,0.1);
}

.title:hover::after
{
	transform: scaleX(1);
}

section .text
{
	opacity: 0;
	color: rgba(89,89,89,1);
	animation: fade-in 4s ease 1s 1;
	-webkit-animation: fade-in 4s ease 1s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section p
{
    font-size: 0.9em;
    line-height: 2em;
	color:rgba(0,0,0,0);
	text-shadow:0 0 0 rgba(89,89,89,1);
	transition: text-shadow 0.2s;
}

section:hover p:not(:hover)
{
	text-shadow:0 0 4px rgba(89,89,89,1);
}

@keyframes blur
{
	0%
	{
		color:rgba(0,0,0,0);
		text-shadow:0 0 0 rgba(70,70,70,1);
	}
	50%
	{
		color:rgba(0,0,0,0);
		text-shadow:0 0 6px rgba(70,70,70,1);
	}
	100%
	{
		color:rgba(0,0,0,0);
		text-shadow:0 0 0 rgba(70,70,70,1);
	}
}

@keyframes fade-in
{
	0%
	{
		opacity: 0;
		mask-position: 100%;
		-webkit-mask-position: 100%;
	}
	100%
	{
		opacity: 1;
		mask-position: 0%;
		-webkit-mask-position: 0%;
	}
}

@keyframes fade-out
{
	0%
	{
		opacity: 1;
		mask-position: 0%;
		-webkit-mask-position: 0%;
	}
	100%
	{
		opacity: 0.5;
		mask-position: 100%;
		-webkit-mask-position: 100%;
	}
}

/*for tablets*/
@media only screen and (min-width: 768px) 
{
    img
    {
        opacity: 0.1;
    }

    body
    {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 4fr 1fr;

        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em; 
    }

    /* header */
    header
    {
        grid-column: 2/3;
        grid-row: 1/2;

        /* 垂直置下 */
        display: grid;
        align-items: flex-end;
    }

    header h1
    {
        font-size: 2em;
    }

    /* #loading */
    #loading
    {
        grid-column: 1/6;
        grid-row: 1/4;
    }

    /* #fog */
    #fog
    {
        grid-column: 1/6;
        grid-row: 1/4;
        background: rgba(243,243,243,0.5);
    }

    /* .button */
    .button
    {
        grid-column: 2/3;
        grid-row: 2/3;

        /* 水平置左 */
        text-align: left;

        /* 垂直置上 */
        display: grid;
        align-items: flex-start;

        font-size: 1.2em;
    }

    /* section */
    section
    {
        grid-column: 3/5;
        grid-row: 2/4;
    }

    section .poetry
    {
        display: inline-block;
    }

    section h2
    {
        font-size: 1.5em;
        line-height: 2.2em;
    }

    article::after
    {
        bottom: 0.5em;
        height: 30%;
    }

    .title::after
    {
        bottom: 0.5em;
        height: 30%;
    }

    section p
    {
        font-size: 1em;
        line-height: 2em;
    }
}